<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel = "none">
  <test name="Landing Page Test">
    <classes>
      <class name="com.qa.winnowpro.tests.LandingPageTest"/>
      
    </classes>
  </test> <!-- Test -->
  
  <test name="Solutions Page Test">
    <classes>
      
      <class name="com.qa.winnowpro.tests.SolutionsPageTest"/>
    </classes>
    </test>
    <test name="Contact Page Test">
    <classes>
      
      <class name="com.qa.winnowpro.tests.ContactUsPageTest"/>
     
    </classes>
  </test>
 
</suite> <!-- Suite -->
